body {
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    font-family: Arial, sans-serif;
    color: #333;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
    background-color: #ffffff;
    padding: 1rem;
    margin: 1rem;
    color: #333;
}

aside {
    flex: 1;
    overflow-y: auto;
}

/* Basic styling for header */
header {
    background-color: #004080;
    color: white;
    padding: 1rem;
    margin-bottom: 1rem;
}
  
/* Basic styling for nav links */
header ul {
    background-color: #004080;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}
  
header ul li a {
    color: white;
    text-decoration: none;
}

/* Basic Styling for the Table */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
  padding: 8px;
  text-align: left;
}
